/* PAGINA INDEX */

/* menu */
.logo {
    width: 15%;
}
.navbar-nav .nav-link.active, .navbar-nav .nav-link.show{
    color: #116ea8;
    font-weight: bold;
    padding-right: 40px;
}

/* hero section */

.hero-section{
    position: relative;
    text-align: center;
}

.hero-section {
    position: relative;
    width: 100%;
    height: 100vh; /* Ajusta la altura según sea necesario */
    overflow: hidden;
    display: flex;
    align-items: center; /* Centra verticalmente el contenido */
    justify-content: center; /* Centra horizontalmente el contenido */
}

.hero-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.hero-section h1 {
    position: relative;
    color: #116ea8;
    font-size: clamp(1.5em, 5vw, 2.5em); /* Tamaño del texto de manera fluida */
    text-align: center;
    width: 50%; /* Asegura que el texto se ajuste al ancho del contenedor */
    margin-top: calc(-12% - 1em); /* Ajusta el margen superior para posicionar el texto */
}

.hero-section img {
    width: 100%;
}

.parallax {
    background-image: url('../img/hero-bg.jpg');
    height: 550px; /* Ajusta la altura según sea necesario */
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

/* cajitas x3 Innovación - Tecnología - Soluciones*/

.contenedor {
    position: relative;
    overflow: hidden;
    width: 400px;
    height: 450px;
}

.card-img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Hace que la imagen cubra todo el área sin distorsionarse */
}

.card-img-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: end;
    justify-content: center;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Para que el texto sea más legible sobre la imagen */
}
.card-title{
    font-size: 2.5em;
    margin-bottom: 15px;
}

.contenedor::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1;
}

.card-img-overlay {
    z-index: 2;
}

/* Inmunoestimulantes */

.texto{
    color: #116ea8;
    font-weight: bold;
}

.text-start p{
    font-size: 18px;
}

/* PAGINA NOSOTROS*/

.parallax-nosotros {
    background-image: url('../img/hero-ns.jpg');
    height: 550px; /* Ajusta la altura según sea necesario */
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

.fondo{
    background-color: #f3f9fb;
    height: 300px;
    display: flex;
    justify-content: center; /* Centra las imágenes horizontalmente */
    align-items: center;
}
.nosotros h2, .mision-vision h2{
    color: #116ea8;
    font-weight: bold;
}

.color{
    background-color: #a811a8;
}

.container-img .row-img {
    display: flex;
    justify-content: center; /* Centra las imágenes horizontalmente */
    align-items: center;     /* Centra las imágenes verticalmente */
}

.container-img .col-img {
    display: flex;
    justify-content: center; /* Centra la imagen dentro de la columna */
    align-items: center;     /* Centra verticalmente la imagen dentro de la columna */
}

.container-img .imagen {
    max-width: 150px; /* Establece un ancho máximo para todas las imágenes */
    max-height: 100px; /* Establece una altura máxima para todas las imágenes */
    object-fit: contain; /* Asegura que la imagen se ajuste al contenedor manteniendo la proporción */
}

/* PAGINA PRODUCTOS */

.parallax-productos {
    background-image: url('../img/hero-pr.jpg');
    height: 550px; /* Ajusta la altura según sea necesario */
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

.img-productos img{
    width: 80%;
    justify-content: center; /* Centra las imágenes horizontalmente */
    align-items: center; 
}

.centrado{
    display: flex;
    justify-content: center; /* Centra las imágenes horizontalmente */
    align-items: center;  
}

.centro h3{
    color: #116ea8;
}

/* .img-centro img{
    width: 80%;
    padding: 0;
    text-align: start;

}
 */

.img-centro {
    display: flex;
    justify-content: flex-end; /* Mueve la imagen hacia la derecha */
    align-items: center; /* Centra verticalmente la imagen dentro de la columna */
}

.img-centro img {
    max-width: 60%; /* Asegura que la imagen no exceda el ancho del contenedor */
    height: auto; /* Mantiene la proporción de la imagen */
}








/* Media query*/ 

@media (max-width: 1200px) {
    .hero-section h1 {
        margin-top: calc(-37% - 0.5em); 
        font-size: 2.5em;
        width: 90%;
        background-color: rgba(255, 255, 255, 0.5);
        border-radius: 4%;
    }
    .logo {
        width: 20%;
    }
}

@media (max-width: 992px) {
    .hero-section h1 {
        margin-top: calc(0% - 0.3em); 
        width: 90%; 
        background-color: rgba(255, 255, 255, 0.5);
        border-radius: 4%;
    }
    .logo {
        width: 20%;
    }
}

@media (max-width: 768px) {
    .hero-section h1 {
        margin-top: calc(-19% - 0.1em);
        font-size: 2em; 
        width: 90%;
        background-color: rgba(255, 255, 255, 0.5);
        border-radius: 4%;
    }
    .logo {
        width: 20%;
    }
}

@media (max-width: 576px) {
    .hero-section h1 {
        margin-top: calc(-19% - 0.1em);
        font-size: 2em;
        width: 90%;
        background-color: rgba(255, 255, 255, 0.5);
        border-radius: 4%;
    }
    .logo {
        width: 25%;
    }
}
@media (max-width: 375px) {
    .hero-section h1 {
        margin-top: calc(-19% - 0.1em);
        font-size: 2em;
        width: 90%;
        background-color: rgba(255, 255, 255, 0.5);
        border-radius: 4%;
    }

    .logo {
        width: 25%;
    }

    /* cajitas x3*/

    .contenedor{
        width: 320px;
        height: 450px;
    }

    /* Inmunoestimulantes */

    .texto{
        text-align: left;
    }

    .text-start p{
        margin-top: 15px;
    }
}
